@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FDFBD4;
}

.header-title {
  padding: 1rem;
  color: #495A19;
  text-align: center;
  font-size: 6rem;
}

.header-desc {
  text-align: center;
  padding: 1rem 6rem;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.homepage-header {
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 70vh;
  padding: 4rem  1rem 0rem;
  font-family: 'Instrument Sans', sans-serif;
}



.turqBtn {
  background-color: #266F77;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  padding: 1.3em 2em;
  text-decoration: none;
}


.purpBtn {
  background-color: #562677;
  color: white;
  padding: 1.3em 2em;
  border: none;
  border-radius: 10px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.subject-title {
  text-align: center;
  margin: 0px 0 50px 0px;
}

.btnContainer {
  padding: 3rem 0.5rem;
  text-align: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.section {
  min-height: 50vh;
  padding: 2em 1.3em;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin-bottom: 10%;
}
.section p {
  padding: 1em 0em;
  line-height: 50px;
  font-weight: 500;
}

.section ul li {
  padding: 1em 0em;
  font-weight: 500;
  line-height: 20px;
  list-style-position: inside;
}


.section-title {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 52px;
  color: #495A19;
}

.subj-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.longBtn {
  margin-top: 30px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 20%;
  text-decoration: none;
  padding: 1.2em 2em;
  border-radius: 10px;
  background-color: black;
  background: #BDB486;
  color: white;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: larger;
  font-family: 'Inter', sans-serif;
}