@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FDFBD4;
}

.header-title {
  padding: 1rem;
  color: #495A19;
  text-align: center;
  font-size: 6rem;
}

.header-desc {
  text-align: center;
  padding: 1rem 6rem;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.homepage-header {
  height: 90vh;
  padding: 4rem 1rem;
  font-family: 'Instrument Sans', sans-serif;
}



.turqBtn {
  background-color: #266F77;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  padding: 1.3em 2em;
}


.purpBtn {
  background-color: #562677;
  color: white;
  padding: 1.3em 2em;
  border: none;
  border-radius: 10px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.btnContainer {
  padding: 3rem 0.5rem;
  text-align: center;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

