@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.loading {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.searchBox {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    background: #BDB486;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 70%;
    padding: 1.7em 2em;
}

.searchBox::placeholder {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}   

.searchBox:focus {
    outline: none;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3%;
    margin-bottom: 100px;
}

.card {
    font-family: 'Inter', sans-serif;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 15px;
    width: 30%;
    margin-bottom: 20px;
    min-height: 450px;
}

.resourceType {
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #562677;
}

.resourceTitle {
    font-size: 3em;
    font-weight: 700;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin: 30px 0;
}

.tag {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: auto;
    margin-right: 30px;
}

.studyLevel {
    background-color: #EC947A;
    color: #fff;
}

.examBoard {
    background-color: #F559F8;
    color: #fff;
}

.subject {
    background-color: #495A19;
    color: #fff;
}

.accessButton {
    text-decoration: none;
    background-color: #562677;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    padding: 1rem 1.3rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faLocationArrow {
    margin-left: 10px;
}

.linkAuthorContainer {
    margin: 30px 0;
}

.author {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
}

.authorName {
    font-weight: bold;
}

.ratingContent {
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ratingButtons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ratingDesc {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.avgRating {
    font-weight: bold;
}


fieldset,
label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.6em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    float: right;
    color: #707070;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FFED85;
}

.ratingsIntro {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}



@media (max-width:1100px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card {
        width: 90%;
        margin-bottom: 30px;
    }

    .tags {
        width: 70%
    }

    .linkAuthorContainer {
        width: 70%;
        align-items: baseline;
    }

    .accessButton {
        margin-bottom: 10px;
        width: 100%;
    }
}