.card {
    width: 30%;
    height: 50%;
    margin: 1.5rem;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-size: 48px;
    font-family: 'Instrument Sans', sans-serif;
}

.bio-grad {
    background: linear-gradient(0deg, #91EC7A 0%, #F8E559 100%);
}

.chem-grad {
    background: linear-gradient(0deg, #EC947A 0%, #F8C559 100%);
}

.phys-grad {
    background: linear-gradient(0deg, #7A7CEC 0%, #F559F8 100%);
}

.maths-grad {
    background: linear-gradient(0deg, #7AE0EC 0%, #597EF8 100%);
}