.resources-card {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1% 7%;
    background: #FFF;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.resources-card>.title {
    width: 40%;
    text-align: left;
}

.resources-card>p {
    width: 40%;
}

.resources-card>.resourceBtn {
    margin-left: 5%;
}

@media (max-width:1055px) {
    .resources-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .resources-card>.title {
        width: 100%;
        text-align: center;
    }

    .resources-card>p {
        width: 100%;
        
    }

    .resources-card>.resourceBtn {
        margin-left: 0;
    }
}